# macOS
.DS_Store

# Java / Maven
aegis-api/target/
*.class

# Python
__pycache__/
*.pyc
.venv/
venv/

# Build artifacts
*.zip

# Data files (too big for git, keep local only)
csv_files/
csv_output/
data/
pcap_files/
zeek_output/

# IDE
.idea/
.vscode/
*.iml

# Misc
*.srt
*.log
